
mq-address = [
    "{{.paas_mq_address}}"
]

mq-topic = [
    "services"
]

mq-username = [
    "{{.paas_mq_username}}"
]

mq-password = [
    "{{.paas_mq_password}}"
]

db-hosts = [
    "{{.paas_db_address}}"
]

db-auth = [
    "admin"
]

db-username = [
    ""
]

db-password = [
    ""
]

crypto-private-key = [
	"/crypto/testKey.pem"
]

crypto-public-key = [
	"/crypto/testKey.pub"
]
